@charset"utf-8";
.userinfo{
  width: 99%;
  overflow: hidden;
  margin: 10px auto;
  position: relative;
  top: 50px;
  .userlist{
  min-height: 75px;
  overflow: hidden;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px #ccc;
  -moz-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
  border: 1px solid #f2f2f2;
  margin: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  .nicheng{
      color: #f9a00a;
      font-size: 14px;
  }

  .contentlist{
      height: 60px;
    width: 90%;
    padding-right: 30px;
    border: 1px solid #f2f2f2;
    border-right: none;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    color: #666;
    background: url(../images/goforword.png) right center no-repeat;
  }
  .bgn{
  background-image:none;
  }
  }
}